body{
    background-color: rgb(251, 254, 255);
}

h1{
    text-align: center;
}
form {
    /* Apenas para centralizar o form na página */
    background-color:rgb(215, 216, 216);
    margin: 0 auto;
    width: 700px;
     /* Para ver as bordas do formulário */
    padding: 1em;
    /*border: 1px solid rgb(14, 13, 13);*/
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /*Para ter certeza que todos os labels tem o mesmo tamanho e estão propriamente alinhados*/
    display: inline-block;
    width: 80px;
    text-align: center;
    font-size: 17px;
}

input, textarea {
    /* Para certificar-se que todos os campos de texto tem as mesmas conf da fonte.  por padrão, textareas ter uma fonte monospace*/
    font: 1,5em sans-serif;
    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 500px;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
    border-radius: 6px;
}

textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: rgb(10, 10, 10);
}

button {
    width: 500px;
    padding: 10px 15px;
    border: 1px;
    border-radius: 6px;
    background-color: rgb(3, 39, 243);
    font-size: 18px;
    margin: 20px 80px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: sans-serif;
}

button:hover{
    background-color: rgb(84, 199, 253)
}